<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico" />
  <title>KusamaProject - All Projects building on Kusama & Substrate</title>
  <meta name="description" content="All Projects building on Kusama & Substrate">
  <meta name="keywords" content="Substrate, Kusama, Kusama Implementation, Kusama Wallet, Kusama Validator, Kusama API, Kusama 开发, Kusama 钱包, Kusama 节点" />
  <link rel="stylesheet" type="text/css" href="static/css/index.min.css?v=2020051201">
</head>

<body>
  <div id="app" v-cloak>
    <nav>
      <div class="menu">
        <img src="./static/img/icon/menu.png" width="24" @click="toggleSidebar(1)" v-show="!isSideShow">
        <img src="./static/img/icon/upward.png" width="24" @click="toggleSidebar(0)" v-show="isSideShow">
      </div>
      <span>{{selectedCategory.title}}</span>
    </nav>
    <!-- 侧边导航 -->
    <section class="sidebar" v-show="isSideShow">
      <div class="logo hidden-xs">
        <img src="./static/img/icon/logo.png" height="40">
      </div>
      <ul class="blockchain">
        <li v-for="item in categories" :key="item.ID" @click="switchCategory(item)" :class="{active:selectedCategory.ID==item.ID&&(!isMobile)}">{{item.title}}</li>
      </ul>
      <a href="https://twitter.com/polkaprojectcom" class="github" target="_blank"><img src="./static/img/icon/github.png" width="24"></a>
    </section>
    <!-- 头部导航 -->
    <header>
      <div class="search-box">
        <input type="text" class="search" placeholder="Search" v-model="searchInfo" @input="debouncedSearchProject">
        <img src="./static/img/icon/close.png" width="16" class="close-btn" v-show="searchInfo" @click="emptySearch">
      </div>
      <ul class="labels" v-if="tags.length>0">
        <li v-for="tag in tags" :key="tag.ID" :class="{active:selectedTag.ID==tag.ID}" @click="switchTag(tag)">
          {{tag.title}}</li>
      </ul>
    </header>
    <div class="main">
      <ul class="dapp-list" v-if="projectList.length>0">
        <li class="dapp-info clearfix" v-for="(project,i) in projectList" :key="i" @click="openModal(project)">
          <img :src="project.image?project.image:'./static/img/icon/default.png'">
          <div class="dapp-text">
            <h4 class="dapp-title">{{project.title}}</h4>
            <!-- 邮箱等链接 -->
            <div class="contact" v-if="project.links&&Object.keys(project.links).length>0">
              <img v-for="(v,k) in project.links" :src="'./static/img/tag/'+k+'.png'" @click.stop="openLink(v,k)">
            </div>
            <div class="dapp-slogan">{{project.description}}</div>
            <div class="dapp-type">
              <label>{{project.category}}</label>
              <label v-if="project.tags.length>0" v-for="item in project.tags">{{item}} </label>
            </div>
          </div>
        </li>
      </ul>
      <!-- 无结果 -->
      <div v-else-if="searchInfo" class="noSearchResult">
        <p>No results were found for “{{searchInfo}}”</p>
        <br>
        <p>Suggest:</p>
        <p>Please make sure all words are spelled correctly.</p>
        <p>Please try a different keyword.</p>
        <p>Please try a broader keyword.</p>
      </div>
      <div v-else class="noSearchResult">No Information</div>
    </div>
    <!-- go top -->
    <img class="goTop" src="./static/img/icon/goTop.png" width="40" v-if="isBack" @click="goTop">
    <!-- modal -->
    <div class="modal-drop" v-if="modalProject" @click.self="closeModal()">
      <div class="modal">
        <div class="close" @click="closeModal()">×</div>
        <div class="logo">
          <img :src="modalProject.image?modalProject.image:'./static/img/icon/default.png'" width="72" height="72">
        </div>
        <div class="modal-info">
          <h4 class="dapp-title">{{modalProject.title}}</h4>
          <!-- 邮箱等链接 -->
          <div class="contact">
            <img v-for="(value,key) in modalProject.links" :src="'./static/img/tag/'+key+'.png'" @click.stop="openLink(value,key)">
          </div>
          <div class="dapp-slogan" v-if="modalProject.description">{{modalProject.description}}</div>
          <div class="dapp-type">
            <label>{{modalProject.category}}</label>
            <label v-if="modalProject.tags.length>0" v-for="item in modalProject.tags">{{item}} </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="data/posts-manifest.js"></script>
  <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="static/js/vue.min.js"></script>
  <script type="text/javascript" src="static/js/lodash.min.js"></script>
  <script type="text/javascript" src="static/js/index.min.js?v=2020051201"></script>
</body>

</html>
